<div>
    <div class="profileclass">
        Profile
    </div>
    <div class="profileclass">
        <h3>My Information</h3>
        <p class="profileparagraph">Get the best job matches and a more relecant community experience.</p>

        <p class="profilelable">Employment Status*</p>
        <p class="profileparagraph">{{userprofile?.employementstatus}}</p>

        <p class="profilelable">Job Title*</p>
        <p class="profileparagraph">{{userprofile?.jobtitle}}</p>

        <p class="profilelable">Location*</p>
        <p class="profileparagraph">{{userprofile?.city}} , {{userprofile?.state}}, {{[userprofile?.country]}}</p>

        <p class="profilelable">Primary Industry*</p>
        <p class="profileparagraph">{{userprofile?.industry}}</p>

        <p class="profilelable">Specialization*</p>
        <p class="profileparagraph">{{userprofile?.specialization}}</p>

    </div>

    <div class="profileclass">
        <h3>Education -</h3>
        <div *ngFor="let data of usereducation;let index=index;" class="educationsection">
            <p style="font-size: 18px;">Education - {{index+1}} <i class="bi bi-pencil-square" (click)="popEditEducation(index)"></i> </p>
            <div class="row">
                <div class="col-6">
                    <p class="profilelable">Institute Name*</p>
                    <p class="profileparagraph">{{data.instituteName}}</p>
                </div>
                <div class="col-6">
                    <p class="profilelable">Year Of Passing*</p>
                    <p class="profileparagraph">{{data.yearOfPassing}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="profilelable">Grads*</p>
                    <p class="profileparagraph">{{data.grads}}</p>
                </div>
                <div class="col-6">
                    <p class="profilelable">Degree*</p>
                    <p class="profileparagraph">{{data.degree}}</p>
                </div>
            </div>
            
        </div>

        <div style="border: 1px solid gray;width: fit-content;padding: 4px;" (click)="popAddEducation()">Add Educaiton <i class="bi bi-person-plus-fill"></i></div>
    </div>

    <div *ngIf="(editEducation || addEducation)?true:false;" class="form-popup" id="myForm">
        <div class="cros" (click)="closeEditEducation()">X</div>
        <form  [formGroup]="educationForm" (ngSubmit)="onEducationSubmit()" class="form-container">
            <h4>Edith Educaiton Details</h4>
            <div class="row justify-content-between">
                <div class="col-5">
                    <label for="institute">Institute Name*</label>
                    <input type="text" name="institute" required formControlName="instituteName">
                </div>
                <div class="col-5">
                    <label for="yearofpassing">Year Of Passing*</label>
                    <input type="text"  name="yearofpassing" required formControlName="yearOfPassing">
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-5">
                     <label for="Grads*">Degree*</label>
                    <input type="text"  name="Grads*" required formControlName="degree">
                </div>
                <div class="col-5">
                    <label for="Grads*">Grads*</label>
                    <input type="number"  name="Grads*" required formControlName="grads">
                </div>
            </div>

            <button type="submit" class="btn" *ngIf="editEducation?true:false;">Update Information</button>
            <button type="submit" class="btn" *ngIf="addEducation ?true:false;">Add Education</button>
            <button type="submit" class="btn" *ngIf="editEducation?true:false;" (click)="deleteInformation()">Delete Information</button>
            
        </form>
    </div>

    <div class="profileclass">
        <h3>CV</h3>
        <p>profileparagraph</p>
        <p>Add a CV to save time and autofill certain job applications. You can also share it to hear from employees about openings.</p>
        <p>You choose whether to make you CV visible to hiringemployers on Indeed or keep it hidden. For More info see our Privacy Policy.</p>

        <div class="profileclass" style="margin:25px 50px 50px 0px">
            
            <h5>Saved Document Name</h5>
            <p>Date Added : 24/09/2025</p>
            <p>Visible to hiring employers</p>

        </div>
        

    </div>
</div>
