div,p{
    padding: 0px;
    margin: 0px;
}
div.profileclass{
    border: 0.2px solid rgb(178, 178, 178);
    padding: 20px;
}

p.profileparagraph
{
    margin-bottom: 16px;

}
div p.profilelable{
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}


/* The popup form - hidden by default */
.form-popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background: white; /* optional */
  padding: 20px; /* optional */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-popup .cros
{
    font-size: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px 4px;
    margin: 0px;
    border: 1px solid rgb(115, 115, 115);


}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.form-container input[type=number], .form-container input[type=password] {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

/* Set a style for the submit/login button */
.form-container .btn {

  padding: 10px 10px;
  cursor: pointer;
  margin-right:10px;
  opacity: 0.8;
  border: 1px solid gray;

}

.educationsection{
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin: 10px 0px;
    margin-left: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 10px;
}

.hello{
  margin: 10px;
}
.ibtn{
  border: 0.5px solid gray;
  border-radius: 3px;
  background-color: white;
  padding: 4px 10px;
}
.skillbox{
  padding: 5px;
  width: 200px;
  margin: 5px;

}


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

