<div>
    <div class="profileclass">
         <h3>ACCOUNT SETTING</h3>
    </div>
    <div class="profileclass">
        <h4>Email And Password</h4>

        <p class="profilelable">Email Address*</p>
        <p class="profileparagraph">17vishalnagar2002gmail.com</p>

        <p class="profilelable">Password*</p>
        <p class="profileparagraph">*******************</p>

    </div>
    <div class="profileclass">
        <h4>Social Connections - </h4>
        <p class="profileparagraph"> For Quick and easy access use you social accounts.</p>
    </div>
    <div class="profileclass">
        <h4>Two Factor Authentication - </h4>
        <p class="profileparagraph">Two-Factor authentication offers you additional security by requiring a verification code every time you sign in on a new device. Enable this for enhanced account security.</p>
        <button class="ibtn">Enable</button>
    </div>
    <div class="profileclass">
        <h4>Deactivate Account</h4>
        <p>You can also manage you email settings.</p>
        <button class="ibtn">Deactivate Account</button>
    </div>
</div>
