<div>
    <div class="profileclass">
         <h3>Notification Settings</h3>
    </div>
    <div class="profileclass">
    
        <p class="profilelable">Jobs</p>
        <p class="profileparagraph">Job Recommendations, Job Application and more</p>

    </div>
    <div class="profileclass">

        <p class="profilelable">Community</p>
        <p class="profileparagraph">Activity related to the community</p>

    </div>
    <div class="profileclass">

        <p class="profilelable">Reviews</p>
        <p class="profileparagraph">Activity related to you reviews.</p>
        
    </div>
    <div class="profileclass">

        <p class="profilelable">Salaries</p>
        <p class="profileparagraph">Salary updates and market trends.</p>
        
    </div>

    <div class="profileclass">

        <p class="profilelable">Industries</p>
        <p class="profileparagraph">Market trends and other helpful information.</p>
        
    </div>

    <div class="profileclass">

        <p class="profilelable">Companies</p>
        <p class="profileparagraph">Updates from companies you follow.</p>
        
    </div>

    <div class="profileclass">

        <p class="profilelable">News and Announcements</p>
        <p class="profileparagraph">Tips. accouncements and popular lists.</p>
        
    </div>

    <div class="profileclass">

        <p class="profilelable">Marketing Communication preferences</p>
        <p class="profileparagraph">Emails we send to market Glassdoor products and service to aid you job search.</p>
        
    </div>

    <div class="profileclass">

        <p class="profilelable">Global Setting</p>
        <p class="profileparagraph">Control how you reveive Notifications.</p>
        
    </div>

</div>
