
<div>
    <div class="profileclass">
         <h3>CONTRIBUTIONS</h3>
    </div>
    <div class="profileclass">
        <h4>Job Goals</h4>
        <h5>Get Customized Job recommendations by keeping your preferences updated.</h5>

        <p class="profilelable">Company Reviews [0]*</p>
        <p class="profileparagraph">Add A Review</p>

        <p class="profilelable">Salaries [0]*</p>
        <p class="profileparagraph">Add A Salary</p>

        <p class="profilelable">Interviews [0]*</p>
        <p class="profileparagraph">Add An Interview</p>

        <p class="profilelable">Photos [0]*</p>
        <p class="profileparagraph">Add A Photos</p>

        <p class="profilelable">Benefits [0]*</p>
        <p class="profileparagraph">Add A Benefit</p>

    </div>
</div>
