
<div>
    <div class="profileclass">
         <h3>CONTRIBUTIONS</h3>
    </div>
    <div class="profileclass">
        <h4>Job Goals</h4>
        <h5>Get Customized Job recommendations by keeping your preferences updated.</h5>

        <p class="profilelable">Company Reviews [0]*</p>
        <p class="profileparagraph">Add A Review</p>

        <p class="profilelable">Salaries [0]*</p>
        <p class="profileparagraph">Add A Salary</p>

        <p class="profilelable">Interviews [0]*</p>
        <p class="profileparagraph">Add An Interview</p>

        <p class="profilelable">Photos [0]*</p>
        <p class="profileparagraph">Add A Photos</p>

        <p class="profilelable">Benefits [0]*</p>
        <p class="profileparagraph">Add A Benefit</p>


    </div>
    <div class="profileclass">
        <h3>CV</h3>
        <p>profileparagraph</p>
        <p>Add a CV to save time and autofill certain job applications. You can also share it to hear from employees about openings.</p>
        <p>You choose whether to make you CV visible to hiringemployers on Indeed or keep it hidden. For More info see our Privacy Policy.</p>

        <div class="profileclass" style="margin:25px 50px 50px 0px">
            <h5>Saved Document Name</h5>
            <p>Date Added : 24/09/2025</p>
            <p>Visible to hiring employers</p>
        </div>
    </div>

    <div class="profileclass">
        <div class="profileclass" style="margin:25px 50px 50px 0px">
            <h4>Stay Up To Date With Your Job Search</h4>
            <h5>Revisit Your Saved Jobs. Recent Searches. and view recommended jobs.</h5>
            <p style="color: rgb(10, 111, 51);">See You Recent Jobs ACTIVITY</p>
        </div>
    </div>
</div>
