<br><br>
<div style="border-bottom: 0.2px solid rgb(178, 178, 178);">

</div>

<div class="container-fluid generalclass" >
    <div class="row justify-content-md-center">
        <div class="col-3" style="text-align: left;">
            <h6>VISHAL NAGAR</h6>
            <p>Software Engineer At Tata AIG General Insurance Co. Limited</p>
            <br>
            <div style="border-bottom: 0.2px solid rgb(178, 178, 178);"></div>
            <br>
            <div>
                <p>PROFILE</p>
                
            </div>
            <br>
            <div>
                <p>JOB PREFERENCES</p>
            </div>
            <br>
            <div>
                <p>JOB ACTIVITY</p>
            </div>
            <br>
            <div>
                <p>FOLLOWING</p>
            </div>
            <br>
            <div>
                <p>CONTRIBUTION</p>
            </div>
            <br>
            <div>
                <p>ACCOUNT SETTING</p>
            </div>
            <br>
            <div>
                <p>NOTIFICATION</p>
            </div>

            <div style="border-bottom: 0.2px solid rgb(178, 178, 178);"></div>

            <br>
            <div>
                <p>Sign Out</p>
            </div>
            <div>
                Help Center
            </div>
        </div>
        <div class="col-9">
            <div>
                <!-- <app-profile></app-profile> -->
                <!-- <app-job-preferences></app-job-preferences> -->
                 <app-job-activity></app-job-activity>
            </div>
        </div>
    </div>
</div>

