<br><br>
<div style="border-bottom: 0.2px solid rgb(178, 178, 178);">

</div>

<div class="container-fluid generalclass" >
    <div class="row justify-content-md-right" style="position: relative;">
        <div class="col-3" style="text-align: left;" style="position: fixed;left: 0px;">
            <h6>VISHAL NAGAR</h6>
            <p>Software Engineer At Tata AIG General Insurance Co. Limited</p>
            <br>
            <div style="border-bottom: 0.2px solid rgb(178, 178, 178);"></div>
            <br>
            <div (click)="changevalue(0)" [ngClass]="{
                'sideline':value==0?true:false
            }">
                <p>PROFILE</p>
                
            </div>
            <br>
            <div (click)="changevalue(1)" [ngClass]="{
                'sideline':value==1?true:false
            }"
            >
                <p>JOB PREFERENCES</p>
            </div>
            <br>
            <div (click)="changevalue(2)" [ngClass]="{
                'sideline':value==2?true:false
            }">
                <p>JOB ACTIVITY</p>
            </div>
            <br>
            <div (click)="changevalue(3)" [ngClass]="{
                'sideline':value==3?true:false
            }">
                <p>FOLLOWING</p>
            </div>
            <br>
            <div (click)="changevalue(4)" [ngClass]="{
                'sideline':value==4?true:false
            }">
                <p>CONTRIBUTION</p>
            </div>
            <br>
            <div (click)="changevalue(5)" [ngClass]="{
                'sideline':value==5?true:false
            }">
                <p>ACCOUNT SETTING</p>
            </div>
            <br>
            <div (click)="changevalue(6)" [ngClass]="{
                'sideline':value==6?true:false
            }">
                <p>NOTIFICATION</p>
            </div>

            <div style="border-bottom: 0.2px solid rgb(178, 178, 178);"></div>

            <br>
            <div>
                <p>Sign Out</p>
            </div>
            <div>
                <div class="generalclass2">
                    Help Center
                </div>
            </div>
        </div>
        <div class="col-9" style="position: absolute;right: 0px;">
            <div>
                <div *ngIf="value==0?true:false">
                    <app-profile></app-profile>
                </div>
                <div *ngIf="value==1?true:false">
                    <app-job-preferences></app-job-preferences>
                </div>
                <div *ngIf="value==2?true:false">
                    <app-job-activity></app-job-activity>
                </div>
                <div *ngIf="value==3?true:false">
                    <app-following></app-following>
                </div>
                <div *ngIf="value==4?true:false">
                    <app-contributions></app-contributions>
                </div>
                <div *ngIf="value==5?true:false">
                    <app-account-setting></app-account-setting>
                </div>
                <div *ngIf="value==6?true:false">
                    <app-notification></app-notification>
                </div>

            </div>
        </div>
    </div>
</div>

